<div>
    <div class="alert alert-info">
        @Title
    </div>
    @if (ChildSomeContent is not null)
    {
        <div class="alert alert-warning">
            @ChildSomeContent <br/>
            @ChildMoreContent
        </div>
    }
    
    <_GrandChildComponent></_GrandChildComponent>

    <button class="btn btn-outline-danger" @onclick="OnButttonClick">Click me!</button>
</div>

@code {
    [Parameter] public string? Title { get; set; }
    [Parameter] public RenderFragment? ChildSomeContent { get; set; }
    [Parameter] public RenderFragment? ChildMoreContent { get; set; }
    [Parameter] public EventCallback OnButttonClick { get; set; }
}
