@page "/LearnBlazor/DemoProduct";

<div class="row">
    <h3 class="text-bg-primary">Demo Product</h3>
    @foreach(var product in listProducts)
    {
        <_IndividualProductComponent Product="product"></_IndividualProductComponent>
    }
</div>

@code {
    private List<Product> listProducts = new();

    protected override void OnInitialized()
    {
        listProducts.Add(new()
        {
            IdProduct = 2,
            Name = "Apple",
            IsActive = false,
            Price = 4,
            ShowProperties = true,
            ProductProp = new List<ProductProp>()
                    {
                        new ProductProp{Id= 1, Key = "Color", Value = "Red"},
                        new ProductProp{Id= 1, Key = "Size", Value = "20cm"},
                        new ProductProp{Id= 1, Key = "Flavor", Value = "Apple"}
                    }
        });
        listProducts.Add(new()
        {
            IdProduct = 3,
            Name = "Pear",
            IsActive = false,
            Price = 4,
            ProductProp = new List<ProductProp>()
                    {
                        new ProductProp{Id= 1, Key = "Color", Value = "Red"},
                        new ProductProp{Id= 1, Key = "Size", Value = "20cm"},
                        new ProductProp{Id= 1, Key = "Flavor", Value = "Apple"}
                    }
        });
        listProducts.Add(new()
        {
            IdProduct = 4,
            Name = "Pineapple",
            IsActive = false,
            Price = 4,
            ProductProp = new List<ProductProp>()
                    {
                        new ProductProp{Id= 1, Key = "Color", Value = "Red"},
                        new ProductProp{Id= 1, Key = "Size", Value = "20cm"},
                        new ProductProp{Id= 1, Key = "Flavor", Value = "Apple"}
                    }
        });
    }
}
