@page "/LearnBlazor/ParentComponent"

<h3>ParentComponent</h3>

<CascadingValue Value="@MessageForGrandChild" Name="Message">
    <CascadingValue Value="@LuckyNumber" Name="LuckyNumber">
        <_ChildComponent OnButttonClick="ShowMessage" Title="Banana">
            <ChildSomeContent>Banana azul</ChildSomeContent>
            <ChildMoreContent>@MessageText</ChildMoreContent>
        </_ChildComponent>
    </CascadingValue>
</CascadingValue>

@code {
    public string MessageText = string.Empty;

    private void ShowMessage() =>
        MessageText = "Button inside child component was clicked!";

    public string MessageForGrandChild = "Rosas são vermelhas; Violetas são azuios";
    public int LuckyNumber = 7;
}
 